/**
  * IMPORTANT NOTE:
  * The default e-commerce css only includes the basics and it is recommended that you theme these files.
  * Also make sure you have the site's general layout and typography styled before you do this.
  **/

.hideOnZeroItems {display: none;}


/*
even when theme-ing ecommerce, these should not be themed
*/


.ajaxQuantityField {text-align: center;}
.removeOneLink {float: left; padding-right: 5px;}
