table.ordercontent{
	width: 100%;
}
	table.ordercontent td{
		text-align:center;
	}
		table.ordercontent td h3,
		table.ordercontent td .subtitle{
			text-align:left;
			margin-top:0;
			margin-bottom:0.5em;
		}
		.ordercontent colgroup.image,
		.ordercontent colgroup.remove{
			width:10px;
		}
		.ordercontent colgroup.unitprice,
		.ordercontent colgroup.total{
			width:10em;
		}
		.ordercontent colgroup.quantity{
			width:10em;
		}
		.ordercontent tfoot th{
			text-align:left;
		}