#Invoice{
	width:600px;
	margin:0 auto;
	background:#fff;
}

	#Invoice table{
		width:100%;
		border-collapse:collapse;
	}
	
	#Invoice table td{
		border:1px solid grey;
		padding:3px;
		vertical-align:top;
	}
	
	#Invoice table th{
		text-align:left;
	}