.block .status {
	float:left;
	width:25%;
	text-align:center;
}

.block.left, .block.right {
	width:48%;
}

.block.left {
	float:left;
}

.block.right {
	float:right;
}

	.block table {
		width: 100%;
		background: #fdfdfd;
		margin:0 auto;
	}