/**
  * IMPORTANT NOTE:
  * The default e-commerce css only includes the basics and it is recommended that you theme these files.
  * Also make sure you have the site's general layout and typography styled before you do this.
  *
  *
  * This file contains a 'stand-alone' formatting of a full order for email and for printing.
  *
  *
  **/

h1.title{
	display:block;
	text-align:right;
	border-bottom:1px solid #CDDDDD;
	text-transform:uppercase;
}

#Content {
	text-align:left;
	margin:auto;
	padding-left:20px;
}
#Content td {
}
#Content .emailTitle {
	color:#4EA3D7;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight: normal;
	font-size: 20px;
}
#Content .PageTitle {
	padding:5px;
	color: #333;
	font-size:14px;
	font-family: Tahoma, Verdana, sans-serif;
}
#Content .footer td {
	padding:10px;
}
#Content .footer td.right{ text-align:right;}
#Content .typography { padding:0px 10px; }
#Content .typography a {
	font-size:1em;
	text-decoration:underline;
}
	#Content .typography a:hover {
		text-decoration:none;
	}
#Content .typography ul { padding:2px 15px;}
#Content .typography ul li { padding:2px 5px;}
#Content .typography p {
	margin:0.75em 0em;
	font-size:12px;
	color: #666;
}

table#SenderTable{
	width:100%;
}
	table#SenderTable .sender,
	table#SenderTable .meta{
		width:50%;
	}

table#MetaTable{
	margin-left:auto;
}

table#MetaTable .label{
	font-weight:bold;
}

table.infotable{
	border:1px solid #CDDDDD;
	border-collapse:collapse;
	width:100%;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:#fff;
	margin-top:10px;
}
	.warningMessage {
		margin: 4px 0 0 3px;
		padding: 5px;
		width: 92%;
		color: #DC1313;
		border: 4px solid #FF7373;
		background: #FED0D0;
	}
	table.infotable h3 {
		color: #4EA3D7;
		font-size: 15px;
		font-weight: normal;
		font-family: Tahoma, Verdana, sans-serif;
	}
	table.infotable tr.Total {
		background: #c9ebff;
	}
	table.infotable tr.Total td {
		font-weight:bold;
		font-size:14px;
		color:#4EA3D7;
		text-transform:uppercase;
	}
		table.infotable tr td,
		table.infotable tr th {
			padding:5px;
			color: #333;
			border:1px solid #CDDDDD;
			vertical-align: top;
		}
			table.infotable td {
				font-size:12px;
			}
				table.infotable td.product span{
					display: block;
				}
			table.infotable tr.summary {
				font-weight: bold;
			}
			table.infotable td.ordersummary {
				font-size:1em;
				border-bottom:1px solid #ccc;
			}
			table.infotable th {
				font-weight:bold;
				font-size:12px;
				color:#000;
				background:#E7EFEF;
			}
			table.infotable tr td a {
				color:#4EA3D7;
				text-decoration:underline;
			}
				table.infotable tr td a:hover {
					text-decoration:none;
				}
	table.infotable .modifierRow,
	table.infotable .threeColHeader{
		text-align:right;
	}

	table.infotable .right {
		text-align:right;
	}
	table.infotable .center {
		text-align:center;
	}
	table.infotable .left,
	table.infotable th {
		text-align:left;
	}

	#ShippingTable td,
	#ShippingTable th{
		width:50%;
	}

