/**
  * IMPORTANT NOTE:
  * The default e-commerce css only includes the basics and it is recommended that you theme these files.
  * Also make sure you have the site's general layout and typography styled before you do this.
  **/

body{overflow: auto !important; width: 700px; font-family: arial, helvetica, sans-serif; font-size: 12px!important; padding: 20px; }
#Icons a {display: block;  float: right; background-repeat: no-repeat; background-position: right top; width: auto; padding-right: 20px;}
	#PrintPageIcon {background-image: url(ecommerce/images/print.png); }
	#PrintPageIcon {background-image: url(ecommerce/images/close.png); }
