/**
  * IMPORTANT NOTE:
  * The default e-commerce css only includes the basics and it is recommended that you theme these files.
  * Also make sure you have the site's general layout and typography styled before you do this.
  **/

.block .status {
	float:left;
	width:25%;
	text-align:center;
}

.block.left, .block.right {
	width:48%;
}

.block.left {
	float:left;
}

.block.right {
	float:right;
}

	.block table {
		width: 100%;
		background: #fdfdfd;
		margin:0 auto;
	}

table.infotable{
	width:100%;
}
